<div class="container footer-amcg" id="footerlayout">
    <br>
    &copy; 2024 AVIATION MANAGEMENT CONSULTING GROUP
    <img src="/img/AMCG_LogoOnly-294.jpg" alt="company initials and logo" class="img-responsive footer-logo">
</div>