
/***********************************************************************************************
 * VARIABLES                                                                                   *
 ***********************************************************************************************/

:root {
  --amcg-blue: rgb(0,73,140);
  --amcg-blue-50: rgb(0,73,140,.5);
  --amcg-blue-25: rgb(0,73,140,.25);
  --amcg-yellow: rgb(253,185,19);
  --amcg-red: rgb(120,37,31);
}

/***********************************************************************************************
 * Data Input/Mgmt Controls                                                                    *
 ***********************************************************************************************/

 .flexcontainer-datamgmt {
  display: flex;
  width: 95%;
  flex-direction: row;
}

.bodylayout1col2-datamgmt {
  margin: 0px;
  padding: 0px 0px 0px 15px;
/*  font-family: 'Open Sans', sans-serif; */
  font-size: 0.80em;
  color: var(--amcg-blue);
  line-height: 0.9;
}

div.data-mgmt-label {
  width: 200px;
  margin-right: 2px;
}

div.ais-search-label {
  width: 300px;
  margin-right: 2px;
}

div.data-mgmt-sublabel {
  width: 200px;
  margin-right: 2px;
  margin-left: 10px;
}

div.data-mgmt-required {
  width: 5px;
  margin: 0px;
  padding: 0px;
}

div.data-mgmt-value {
  margin-left: 5px;
  padding: 0px;
  width: 699px;
}

label.data-mgmt-col-title {
  margin-bottom: 5px;
  font-size: 1.125em;
  font-weight: bold;
}

label.form-status {
  display: inline-block;
/*  width: 600px; */
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.0em;
  color: var(--amcg-red);
  font-weight: bold;

}

label.data-mgmt {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-top: 5px;
}

label.data-mgmt-display {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding-top: 5px;
}

span.ais-search-sharedline {
/*  display: inline; */
  width: 150px;
  vertical-align: top;
  padding-top: 5px;
}

/*
label.ais-search-general {
  display: inline;
  vertical-align: top;
  padding-top: 5px;
  width: 100%;
}
*/

label.data-mgmt-mainmenu {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding-top: 5px;
}

label.data-mgmt-alert {
  display: inline-block;
  vertical-align: top;
  color: var(--amcg-red);
}

span.ais-search-alert-sharedline {
  display: inline;
  vertical-align: top;
  color: var(--amcg-red);
  width: 100px;
  text-align: right;
}

label.data-mgmt-instruction {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-top: 5px;
  font-size: 0.825em;
  white-space:nowrap;
}

label.data-mgmt-required {
/*  display: inline-block; */
/*  width: 10px; */
  vertical-align: top;
  padding-top: 5px;
  color: red;
}

span.data-mgmt-error {
  display: none;
  width: 600px;
  height: 20px;
  vertical-align: top;
  margin-top: 5px;
  color: red;
  font-size: 1em;
}

span.ais-sharedline {
  width: 100%;
  display: inline;
}
  
/*
input.data-mgmt-file {
  display: inline-block;
  width: 350px;
  line-height: 1.00;
}
*/

input.data-mgmt-text {
  width: 680px;
  line-height: 1.00;
}

input.data-mgmt-text-half {
  width: 340px;
  line-height: 1.00;
}

input.data-mgmt-text-third {
  width: 225px;
  line-height: 1.00;
}

input.data-mgmt-text-quarter {
  width: 170px;
  line-height: 1.00;
}

textarea.data-mgmt {
  width: 680px;
  height: 80px;
  line-height: 1.1;
}

button.data-mgmt {
  line-height: 1.5;
}

select.data-mgmt-multiple {
  font-size: 0.875em;
  width: 680px;
  padding: 0px;
}

select.data-mgmt-single {
  font-size: 0.875em;
  width: 680px;
  padding: 0px;
  height: 24px;
}

select.data-mgmt-single-half {
  font-size: 0.875em;
  width: 340px;
  padding: 0px;
  height: 24px;
}

select.data-mgmt-single-third {
  font-size: 0.875em;
  width: 225px;
  padding: 0px;
  height: 24px;
}

select.data-mgmt-single-quarter {
  font-size: 0.875em;
  width: 170px;
  padding: 0px;
  height: 24px;
}
